{
  "presets": [
      ["env", {
        "targets": {
          "browsers": ["last 2 versions", "edge >= 14", "safari >= 9.1"]
        }
      }],
      "react"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-async-to-generator",
    "transform-class-properties",
    "syntax-dynamic-import",
    ["transform-runtime", {
      "helpers": true,
      "polifill": false,
      "generator": false,
      "moduleName": "babel-runtime"
    }],
    ["transform-object-rest-spread", { "useBuildIns": false }]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-inline-elements"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ]
    },
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "dynamic-import-node"
      ]
    }
  },
}
